<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Variables</key>
	<dict>
		<key>Swift</key>
		<dict>
			<key>ibCustomModuleProvider</key>
			<string>target</string>
			<key>moduleNamePrefixForClasses</key>
			<string>$(PRODUCT_MODULE_NAME).</string>
		</dict>
		<key>Objective-C</key>
		<dict>
			<key>ibCustomModuleProvider</key>
			<string></string>
			<key>moduleNamePrefixForClasses</key>
			<string></string>
		</dict>
	</dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Concrete</key>
	<true/>
	<key>Identifier</key>
	<string>io.rxswift+realm.xcodeTemplate-swift</string>
	<key>Description</key>
	<string>Swift starter project for RxSwfit+Realm iOS projects</string>
	<key>Ancestors</key>
	<array>
		<string>io.rxswift+realm.dt.unit.cocoaTouchApplicationBase</string>
	</array>
	<key>Components</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>io.rxswift+realm.dt.unit.iosUnitTestBundleBase-swift</string>
			<key>Name</key>
			<string>___PACKAGENAME___Tests</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>io.rxswift+realm.dt.unit.kifUITestBundleBase-swift</string>
			<key>Name</key>
			<string>___PACKAGENAME___UITests</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>io.rxswift+realm.dt.unit.aggregateScriptsTarget-swift</string>
			<key>Name</key>
			<string>Code Generation Scripts</string>
		</dict>
	</array>
	<key>Targets</key>
	<array>
		<dict>
			<key>Name</key>
			<string>___PACKAGENAME___</string>
			<key>SharedSettings</key>
			<dict>
				<key>PRODUCT_NAME</key>
				<string>$(TARGET_NAME)</string>
			</dict>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>ShellScript</string>
					<key>Name</key>
					<string>R.swift Generation Script</string>
					<key>ShellPath</key>
					<string>/bin/bash</string>
					<key>ShellScript</key>
					<string>&quot;${SRCROOT}/___PACKAGENAME___/Scripts/R.swift.sh&quot;</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>Nodes</key>
	<array>
		<string>../R.generated.swift</string>
		<string>AppDelegate.swift</string>
		<string>CustomView/BaseView.swift</string>
		<string>CustomCell/BaseTableViewCell.swift</string>
		<string>CustomCell/BaseCollectionViewCell.swift</string>
		<string>Category</string>
		<string>Request/BaseRequest.swift</string>
		<string>Manager/RealmManager.swift</string>
		<string>Model/BaseObject.swift</string>
		<string>ViewModel/BaseViewModel.swift</string>
		<string>ViewModel/RxMediaPickerViewModel.swift</string>
		<string>ViewController/ViewController.swift</string>
		<string>ViewController/BaseViewController.swift</string>
		<string>View</string>
		<string>../Podfile:swiftbasics</string>
		<string>Scripts/R.swift.sh</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>../Podfile:swiftbasics</key>
		<string>

    pod &apos;R.swift&apos;, &apos;~&gt; 3.1&apos;
    pod &apos;SwiftLint&apos;</string>
		<key>ViewController/ViewController.swift</key>
		<dict>
			<key>Path</key>
			<string>ViewController.swift</string>
			<key>Group</key>
			<string>ViewController</string>
		</dict>
        <key>ViewController/BaseViewController.swift</key>
        <dict>
            <key>Path</key>
            <string>BaseViewController.swift</string>
            <key>Group</key>
            <string>ViewController</string>
        </dict>
		<key>View</key>
		<dict>
			<key>Group</key>
			<array>
				<string>View</string>
			</array>
		</dict>
		<key>CustomView/BaseView.swift</key>
		<dict>
			<key>Path</key>
			<string>BaseView.swift</string>
			<key>Group</key>
			<array>
				<string>CustomView</string>
			</array>
		</dict>
		<key>ViewModel/BaseViewModel.swift</key>
		<dict>
			<key>Path</key>
			<string>BaseViewModel.swift</string>
			<key>Group</key>
			<array>
				<string>ViewModel</string>
			</array>
		</dict>
		<key>ViewModel/RxMediaPickerViewModel.swift</key>
		<dict>
			<key>Path</key>
			<string>RxMediaPickerViewModel.swift</string>
			<key>Group</key>
			<array>
				<string>ViewModel</string>
			</array>
		</dict>
		<key>Request/BaseRequest.swift</key>
		<dict>
			<key>Path</key>
			<string>BaseRequest.swift</string>
			<key>Group</key>
			<array>
				<string>Request</string>
			</array>
		</dict>
		<key>Model/BaseObject.swift</key>
		<dict>
			<key>Path</key>
			<string>BaseObject.swift</string>
			<key>Group</key>
			<array>
				<string>Model</string>
			</array>
		</dict>
		<key>Manager/RealmManager.swift</key>
		<dict>
			<key>Path</key>
			<string>RealmManager.swift</string>
			<key>Group</key>
			<array>
				<string>Manager</string>
			</array>
		</dict>
		<key>CustomCell/BaseTableViewCell.swift</key>
		<dict>
			<key>Path</key>
			<string>BaseTableViewCell.swift</string>
			<key>Group</key>
			<array>
				<string>CustomCell</string>
			</array>
		</dict>
		<key>CustomCell/BaseCollectionViewCell.swift</key>
		<dict>
			<key>Path</key>
			<string>BaseCollectionViewCell.swift</string>
			<key>Group</key>
			<array>
				<string>CustomCell</string>
			</array>
		</dict>
		<key>Category</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Category</string>
			</array>
		</dict>
		<key>AppDelegate.swift</key>
		<dict>
			<key>Path</key>
			<string>AppDelegate.swift</string>
		</dict>
		<key>../R.generated.swift</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>../R.generated.swift</string>
		</dict>
		<key>Scripts/R.swift.sh</key>
		<dict>
			<key>Path</key>
			<string>Scripts/R.swift.sh</string>
			<key>Group</key>
			<string>Scripts</string>
		</dict>
	</dict>
	<key>Project</key>
	<dict>
		<key>Configurations</key>
		<dict>
			<key>Debug</key>
			<dict>
				<key>SWIFT_OPTIMIZATION_LEVEL</key>
				<string>-Onone</string>
				<key>GCC_INSTRUMENT_PROGRAM_FLOW_ARCS</key>
				<string>YES</string>
				<key>GCC_GENERATE_TEST_COVERAGE_FILES</key>
				<string>YES</string>
				<key>OTHER_SWIFT_FLAGS</key>
				<string>-D DEBUG</string>
			</dict>
		</dict>
	</dict>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>SVProgressHUD</string>
			<key>Name</key>
			<string>Include SVProgressHUD</string>
			<key>Description</key>
			<string>Adds SVProgressHUD as a CocoaPod</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>false</string>
			<key>NotPersisted</key>
			<true/>
			<key>Units</key>
			<dict>
				<key>true</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>../Podfile:svppod</key>
						<string>    pod &apos;SVProgressHUD&apos;</string>
					</dict>
					<key>Nodes</key>
					<array>
						<string>../Podfile:svppod</string>
					</array>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>DZNEmptyDataSet</string>
			<key>Name</key>
			<string>Include DZNEmptyDataSet</string>
			<key>Description</key>
			<string>Adds DZNEmptyDataSet as a CocoaPod</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>false</string>
			<key>NotPersisted</key>
			<true/>
			<key>Units</key>
			<dict>
				<key>true</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>../Podfile:dznpod</key>
						<string>    pod &apos;DZNEmptyDataSet&apos;</string>
					</dict>
					<key>Nodes</key>
					<array>
						<string>../Podfile:dznpod</string>
					</array>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>SwiftyUserDefaults</string>
			<key>Name</key>
			<string>Include SwiftyUserDefaults</string>
			<key>Description</key>
			<string>Adds SwiftyUserDefaults as a CocoaPod</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>false</string>
			<key>NotPersisted</key>
			<true/>
			<key>Units</key>
			<dict>
				<key>true</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>../Podfile:sudpod</key>
						<string>    pod &apos;SwiftyUserDefaults&apos;</string>
					</dict>
					<key>Nodes</key>
					<array>
						<string>../Podfile:sudpod</string>
					</array>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>SwiftDate</string>
			<key>Name</key>
			<string>Include SwiftDate</string>
			<key>Description</key>
			<string>Adds SwiftDate as a CocoaPod</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>false</string>
			<key>NotPersisted</key>
			<true/>
			<key>Units</key>
			<dict>
				<key>true</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>../Podfile:sdatepod</key>
						<string>    pod &apos;SwiftDate&apos;</string>
					</dict>
					<key>Nodes</key>
					<array>
						<string>../Podfile:sdatepod</string>
					</array>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>universalDeviceFamily</string>
			<key>Units</key>
			<dict>
				<key>Universal</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Base.lproj/Main.storyboard</key>
						<dict>
							<key>Path</key>
							<string>Main_Universal.storyboard</string>
							<key>SortOrder</key>
							<integer>99</integer>
						</dict>
					</dict>
				</dict>
				<key>iPad</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Base.lproj/Main.storyboard</key>
						<dict>
							<key>Path</key>
							<string>Main_iPad.storyboard</string>
							<key>SortOrder</key>
							<integer>99</integer>
						</dict>
					</dict>
				</dict>
				<key>iPhone</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Base.lproj/Main.storyboard</key>
						<dict>
							<key>Path</key>
							<string>Main_iPhone.storyboard</string>
							<key>SortOrder</key>
							<integer>99</integer>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>
